workflows/agentic_sql_chatbot/Main_T2SQL_Agent.json
{
  "name": "SQL_Chatbot_Chat_Groq",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "5dd92624-b53f-4f5a-ba30-f0b900627b51",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        64,
        224
      ],
      "webhookId": "972159c4-11e4-4585-b129-25156ab15018",
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "ec26df63-fa4a-441a-a6ee-a2937f878397",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        352,
        416
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Question: {{ $json.chatInput }}",
        "options": {
          "systemMessage": "### ROLE\nYou are an expert SQL Data Analyst.\n\n### AVAILABLE TOOLS\n(n8n provides these automatically, but remember their purpose):\n1. `get_db_schema`: Returns table names and columns.\n2. `run_sql_query`: Executes a SQL string and returns rows.\n\n### EXECUTION PROTOCOL (MANDATORY)\nFor every user question, you must follow this \"Chain of Thought\":\n1. **THOUGHT:** \"Do I know the table structure yet?\"\n2. **ACTION:** Call `get_db_schema` to see the tables.\n3. **THOUGHT:** \"Now that I see the `products` table, I need to fetch the actual items.\"\n4. **ACTION:** Call `run_sql_query` with: `SELECT * FROM products LIMIT 5;`\n5. **FINAL ANSWER:** Read the SQL results and summarize them for the user.\n\n### ERROR HANDLING\nIf the `run_sql_query` tool returns a JSON object containing an \"error\" field:\n1. **READ** the error message carefully.\n2. **THINK** about why the query failed (e.g., wrong column name, syntax error).\n3. **RETRY** by calling `run_sql_query` again with a corrected SQL statement.\n4. Do not give up unless you fail 3 times.\n\n### NEGATIVE CONSTRAINTS\n- DO NOT stop after getting the schema. You must fetch the data.\n- DO NOT output raw JSON.",
          "maxIterations": 20,
          "returnIntermediateSteps": false
        }
      },
      "id": "8b9344a4-7340-4dfe-bf78-00f3afee1e64",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        288,
        224
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        208,
        416
      ],
      "id": "d79b5395-88b3-4fee-b246-5b12729502c2",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "API account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool FIRST to get the list of tables and columns in the database. Use this schema to build correct SQL queries",
        "workflowId": {
          "__rl": true,
          "value": "IvAqM2J2u1bHitsf",
          "mode": "list",
          "cachedResultName": "Tool:Schema"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "unused_input",
              "displayName": "unused_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        512,
        416
      ],
      "id": "1c21ea09-b8e7-4b43-9a1c-fb8e3487c485",
      "name": "get_db_schema"
    },
    {
      "parameters": {
        "description": "Call this tool to execute a PostgreSQL query.\nCRITICAL INPUT RULES:\n1. Input `query` must be a RAW SQL string (e.g., \"SELECT * FROM users LIMIT 5;\").\n2. DO NOT wrap the code in markdown (no ```sql ... ```).\n3. DO NOT use the word 'LIMIT' unless absolutely necessary.\n4. Ensure the query ends with a semicolon (;).\n5. Use ILIKE with % wildcards for text searches (e.g. WHERE name ILIKE '%mouse%').\n6. NEVER use = for names or titles.\n",
        "workflowId": {
          "__rl": true,
          "value": "CSTMJwKw1irnB6gt",
          "mode": "list",
          "cachedResultName": "Tool: Run SQL Safe"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        640,
        416
      ],
      "id": "c3b3e7ec-5817-48a6-b5f1-a9f09f607ecf",
      "name": "run_sql_query"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "get_db_schema": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "run_sql_query": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3cd9b2d2-6ca7-4a76-9d4c-245227ccf4af",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37e5b85ad70776dad60f6f7b160d2f55df1726ebe85d49a9bc3de3a145fbf2b1"
  },
  "id": "MTGz9xvC8kKhVv7V",
  "tags": []
}